TwisterServer/WebContent/wsdl/Friend.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://twister" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://twister" xmlns:intf="http://twister" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://twister" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="follow">
    <complexType>
     <sequence>
      <element name="user" type="xsd:string"/>
      <element name="current" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="followResponse">
    <complexType>
     <sequence>
      <element name="followReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchFriend">
    <complexType>
     <sequence>
      <element name="search" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="searchFriendResponse">
    <complexType>
     <sequence>
      <element name="searchFriendReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="searchFriendRequest">

      <wsdl:part element="impl:searchFriend" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="searchFriendResponse">

      <wsdl:part element="impl:searchFriendResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="followResponse">

      <wsdl:part element="impl:followResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="followRequest">

      <wsdl:part element="impl:follow" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Friend">

      <wsdl:operation name="follow">

         <wsdl:input message="impl:followRequest" name="followRequest">

       </wsdl:input>

         <wsdl:output message="impl:followResponse" name="followResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchFriend">

         <wsdl:input message="impl:searchFriendRequest" name="searchFriendRequest">

       </wsdl:input>

         <wsdl:output message="impl:searchFriendResponse" name="searchFriendResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="FriendSoapBinding" type="impl:Friend">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="follow">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="followRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="followResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="searchFriend">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="searchFriendRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="searchFriendResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="FriendService">

      <wsdl:port binding="impl:FriendSoapBinding" name="Friend">

         <wsdlsoap:address location="http://localhost:8080/TwisterServer/services/Friend"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
