TwisterServer/WebContent/wsdl/Post.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://twister" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://twister" xmlns:intf="http://twister" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://twister" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getPost">
    <complexType>
     <sequence>
      <element name="username" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPostResponse">
    <complexType>
     <sequence>
      <element name="getPostReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="doPost">
    <complexType>
     <sequence>
      <element name="postData" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="doPostResponse">
    <complexType>
     <sequence>
      <element name="doPostReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deletePost">
    <complexType>
     <sequence>
      <element name="postData" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deletePostResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getPostResponse">

      <wsdl:part element="impl:getPostResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getPostRequest">

      <wsdl:part element="impl:getPost" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="doPostRequest">

      <wsdl:part element="impl:doPost" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deletePostResponse">

      <wsdl:part element="impl:deletePostResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="doPostResponse">

      <wsdl:part element="impl:doPostResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deletePostRequest">

      <wsdl:part element="impl:deletePost" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Post">

      <wsdl:operation name="getPost">

         <wsdl:input message="impl:getPostRequest" name="getPostRequest">

       </wsdl:input>

         <wsdl:output message="impl:getPostResponse" name="getPostResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="doPost">

         <wsdl:input message="impl:doPostRequest" name="doPostRequest">

       </wsdl:input>

         <wsdl:output message="impl:doPostResponse" name="doPostResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deletePost">

         <wsdl:input message="impl:deletePostRequest" name="deletePostRequest">

       </wsdl:input>

         <wsdl:output message="impl:deletePostResponse" name="deletePostResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PostSoapBinding" type="impl:Post">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getPost">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPostRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPostResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="doPost">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="doPostRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="doPostResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deletePost">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deletePostRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deletePostResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PostService">

      <wsdl:port binding="impl:PostSoapBinding" name="Post">

         <wsdlsoap:address location="http://localhost:8080/TwisterServer/services/Post"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
